<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<form action="#" th:action="@{j_spring_security_check}"
	th:object="credentials" method="post">
	<div>
		<p th:text="${{sb.security.username}}" />
		<input type="text" th:field="*{username}" />
		<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
	</div>
	<div>
		<p th:text="${{sb.security.password}}" />
		<input type="text" th:field="*{password}" />
		<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
	</div>
	<div>
		<p th:if="${#showError==true}" th:text="${{security.login.failed}}"
			class="errors"></p>
	</div>
	<div>
		<input type="submit" th:value="${{security.login}}">
	</div>
</form>

</html>